@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600);

body {
	font:18px "Open Sans";
	font-weight:300;
	margin:0;
	padding:0;
	background:#fff;
	color:#364159;
}

@media ( min-width : 768px) {
	.container {
		max-width: 750px;
	}
}

@media ( min-width : 992px) {
	.container {
		max-width: 970px;
	}
}

@media ( min-width : 1200px) {
	.container {
		max-width: 1170px;
	}
}
.container{margin:0 auto}
.container img{width:100%}

::selection {
	background: #364159;
	color: #fff;
}

a {
	color:#a0a1ab;
	text-decoration:none;
	transition:color 0.1s;
	font-weight: 600
}
a:hover {
	color:#000 !important;
}

#wrapper {
	padding-top:100px;
	text-align:center;
}

#branding h1 {
	margin:0;
	font-weight:300;
	font-size:350%;
}
#branding h1 img {
	vertical-align:-10px;
	margin-right:15px;
}
#branding h2 {
	font-weight:300;
	font-size:180%;
	margin-top:40px;
}

#links ul {
	list-style-type:none;
	margin:30px auto 60px;
	padding:0;
	width:9.5em;
	text-align:left;
	font-size:120%;
}
#links a {
	display:block;
	padding:10px 0;
	white-space:nowrap;
}
#links a i {
	margin-right:10px;
	font-size:140%;
}
#links a small {
	font-size:75%;
	display:block;
	margin-left:55px;
	margin-top:5px;
}

#meta {
	font-size:100%;
	margin-bottom:50px;
}
#me {font-size: 12px;}
#me a {
	color:#364159;
	text-decoration:none;
	
}
#meta-links {
	color:#a0a1ab;
}
#meta-links a {
	margin:0 10px;
}

@media only screen and (max-height: 850px) {
	#wrapper {
		padding-top:50px;
	}
	#links ul {
		margin:40px auto;
	}
}
@media only screen and (max-width: 767px) {
	body {
		font-size:14px;
	}
	#wrapper {
		padding-top:50px;
	}
	#links a small {
		margin-left:44px;
	}
}
#features td{
	vertical-align: top;
}
#features p{
	text-align: left;padding: 0 10px;
}
#installation .entry-content{
	text-align: left;
	margin-bottom: 100px
}
section {margin-top: 100px;}
section h3{font-size: 180%;margin:50px 0}